{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "vue/no-restricted-html-elements": ["error", "button"],
    "vue/multi-word-component-names": 0
  }
}